- left = true
= render 'primary_dual_form', exam: exam do |f|
  = f.smart_select :cortex_thickness
  = f.smart_select :medulla_thickness
  - if left
    - # Only show common fields (examination note) once
    = yield f
    - left = false
