= form_for(exam, builder: VueFormBuilder, html: { id: 'internal_pancreas_examination' }, url: '') do |f|
  = f.hidden_field :id
  = f.select :hardness, translated_internal_pancreas_hardnesses
  = yield f
