<h1>Editing External Head Examination</h1>

<%= render 'form', external_head_examination: @external_head_examination %>

<%= link_to 'Show', @external_head_examination %> |
<%= link_to 'Back', external_head_examinations_path %>
