<h1>Editing Test Blood Type Experiment</h1>

<%= render 'form', test_blood_type_experiment: @test_blood_type_experiment %>

<%= link_to 'Show', @test_blood_type_experiment %> |
<%= link_to 'Back', test_blood_type_experiments_path %>
