１）ヘモグロビンA1c検査
　本屍の心臓血につき、ヘモグロビンA1c濃度を測定したところ、約○○ % (正常値4.6～6.2 %)であった。
２）血中ケトン体分画
　株式会社エスアールエルに委託し、本屍の血中ケトン体分画を検査したところ、以下のような結果を得た旨報告を受けた(平成26年○月○日)

アセト酢酸		：○○ μmol/l （正常値55μmol/l以下）
3-ヒドロキシ酪酸	：○○ μmol/l （正常値85μmol/l以下）
総ケトン体		：○○ μmol/l （正常値130μmol/l以下）
