= exam.description

- if exam.found?
  %table
    %tbody
      - if exam.heart_concentration.present?
        %tr
          %td 心臓血中エタノール濃度
          %td
            = exam.heart_concentration
            mg/mL
      - if exam.iliac_vein_concentration.present?
        %tr
          %td 総腸骨静脈血中エタノール濃度
          %td
            = exam.iliac_vein_concentration
            mg/mL
