解剖時採取した諸臓器の小片をフォルマリン固定・パラフィン包埋後薄切し、ヘマトキシリン・エオジン等の染色を施し、病理組織学的検査を行なった。

<% this.analysis_histopathology_on_organs.each do |histopatho_analysis| %>
<p>
  <strong><%= histopatho_analysis.organ_name %></strong>：<%= histopatho_analysis.result %>
</p>
<% end %>
