= exam.description

- if exam.not_positive_results.any?
  %table
    %thead
      %tr
        %th 薬物
        %th 検出限界濃度(ng/mL)
    %tbody
      - exam.not_positive_results.each do |result|
        %tr
          %td= result.drug_description
          %td= result.drug_concentration_threshold
