本屍の尿について、キットのマニュアルに従ってウロペーパーⅢ検査をおこなったところ、以下のような結果を得た。

%table
  %tbody
    - this.uropaper_results.each do |result|
      %tr
        %td= I18n.t "uropapers.#{result.category}"
        %td= result.descriptive_result
    - if this.ph.present?
      %tr
        %td pH
        %td= this.ph
