= t('analysis_uropapers.description')

%table
  %tbody
    - exam.uropaper_results.each do |result|
      %tr
        %td= result.translated_category
        %td= result.descriptive_result
    - if exam.ph.present?
      %tr
        %td pH
        %td= exam.ph
