<p id="notice"><%= notice %></p>

<p>
  <strong>Depth:</strong>
  <%= @injury_depth.depth %>
</p>

<%= link_to 'Edit', edit_injury_depth_path(@injury_depth) %> |
<%= link_to 'Back', injury_depths_path %>
