= render 'components'
#injury_app{ 'data-url': send("#{injury.examination_name}_injuries_path"),
             'data-injury-id': injury.id,
             'data-examination-type': injury.examination_name }
  %injury-component
