= bootstrap_form_tag(html: { id: 'external_outline_examination' }) do |f|
  %input{type: 'hidden', name: 'external_outline_examination[id]', value: exam.id}
  .form-group
    %label.col-sm-4.control-label= t "activerecord.attributes.external_outline_examination.sex"
    .col-sm-8
      %select.form-control{name: "external_outline_examination[sex]", 'v-model': 'sex', value: exam.sex}
        - ExternalOutlineExamination.sexes.each do |sex, _|
          %option{value: sex, selected: exam.sex == sex}= t "sex.#{sex}"
