<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @test_histopathology.note %>
</p>

<%= link_to 'Edit', edit_test_histopathology_path(@test_histopathology) %> |
<%= link_to 'Back', test_histopathologies_path %>
