<h1>Editing External Outline Examination</h1>

<%= render 'form', external_outline_examination: @external_outline_examination %>

<%= link_to 'Show', @external_outline_examination %> |
<%= link_to 'Back', external_outline_examinations_path %>
