// Place all the styles related to the Autopsies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p::before {
  content: '　'
}

.alert:empty {
    display: none;
}

h4>form{
  display: inline;
}

div.row{
  margin-left: 0px;
}

th>a{
  color: inherit;
  white-space: nowrap;
  &:hover{
    color:inherit;
    text-decoration: none;
    background-color: inherit;
  }
  &:focus{
    color: inherit;
    text-decoration: none;
  }
  &:visited{
    color:inherit;
  }
}

td>a{
  &:visited{
    color:inherit;
  }
}

#no_result{
    text-align: center;
}
