// Place all the styles related to the Autopsies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p::before {
  content: '　'
}

.alert:empty {
    display: none;
}

h4>form{
  display: inline;
}

div.row{
  margin-left: 0px;
}
