$column-tablet-width: 20vw;
$column-desktop-width: 10vw;
$tablet-or-smaller: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";

.left_col {
  position: fixed;
  width: $column-desktop-width;
  @media #{$tablet-or-smaller} {
    width: $column-tablet-width;
  }
  max-height: 100vh;
  overflow-y: auto;
}

// 100vw-100%でスクロールバーの幅を取得している
.main_col {
  position: absolute;
  left: calc(#{$column-desktop-width} + 100vw - 100%);
  @media #{$tablet-or-smaller} {
    left: calc(#{$column-tablet-width} + 100vw - 100%);
  }
}

ul.nav {
	margin: 2px;
}

.nav > li > a {
  padding-right: 5px !important;
}
