$column-tablet-width: 20vw;
$column-desktop-width: 10vw;
$tablet-or-smaller: "(max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body.container-fluid {
  padding-left: 0px;
}

.left_col {
  position: fixed;
  width: $column-desktop-width;
  @media #{$tablet-or-smaller} {
    width: $column-tablet-width;
  }
  max-height: 100vh;
  overflow-y: auto;
  padding-left: 15px;
}

.main_col {
  position: absolute;
  left: $column-desktop-width;
  @media #{$tablet-or-smaller} {
    left: $column-tablet-width;
  }
}

ul.nav {
	margin: 2px;
}

.nav > li > a {
  padding-right: 5px !important;
}
