-# @examination: An instance of the Examination class
= render 'injuries/components'
#injuries_app{ 'data-url': send("#{examination.key_string}_injuries_path"),
               'data-examination-type': injury.examination_name }
